	<div class = "oldDiv">
	<h3>This is a list of all the competitors for the Sunday Contest</h3>
	<% @all_users.each do |userName| %>
    <li><%= link_to "#{userName.first_name} #{userName.last_name}", "users/#{userName.id}" %></li> 
	<% end %>
	</div>
