<% if session[:currentUserID] == nil then %>
	<%= form_tag("post_login", method: "post") do %>
		<div class="well">
    <% if @needToConfirmEmail == true then %>
      Log In Error: <span style="color:red">You need to confirm your email. Emails may take up to 10 minutes to send. <%= link_to("Click here to resend the email", "/users/resend?userID=" + @userID.to_s) %></span> 
    <% else %>
			Log In Error: <span style="color:red">Invalid login credentials. Please try again.</span> 
      <% end %> 
		</div>
		
    <div class="row">
      <!-- Username -->
      <div class="col-sm-2" for="username"><div class="well well-sm center">Username</div></div>
      <div class="col-sm-10">
        <input type="text" id="text_val" name="text_val" placeholder="" class="form-control">
      </div>
    </div>
    <div class="row">
      <!-- Password-->
      <div class="col-sm-2" for="password"><div class="well well-sm center">Password</div></div>
       <div class="col-sm-10">
        <input id="passwordBox_password" name="passwordBox[password]" size="20" type="password" placeholder="" class="form-control">
        </div>
    </div>
 
    <div class="row">
      <div class="col-sm-offset-2 col-sm-10">
      	<div class="well">
          <input class="btn btn-success" type="submit" name="commit"> or <a href="/users/new">click here</a> to create an account.
      	</div>
      </div>
    </div>

<% end %>
<% else %>
	<div class="well">
	You are already logged in.
	</div>
<% end %>
