<div class = "header">
	<h1>Welcome to SundayContest.com</h1>
	<h2>Sponsored by Speedcubeshop.com</h2>
</div>
<div class = "about">
	<h3>About sunday contest:</h3>
	<p>
	The Sunday Contest started in 2004 as a weekly unofficial competition hosted by Tyson Mao, and was later hosted by Jon Morris in 2005. </p>
	Put some other more descriptive shit here

</div>