<div class = "row">
	<% if Contest.last %>
		<% Contest.last.events.each do |event| %>
			<div class="col-lg-4">
				<h2><a href="/contest/<%=event.id%>"><%= event.event_name %></a></h2>
			</div>
		<% end %>
	<% else %>

	<% end %>
</div>

<div class = "header">
	<h1>Welcome to SundayContest.com</h1>
	<h2>Sponsored by Speedcubeshop.com</h2>
</div>
<div class = "about">
	<h3>About sunday contest:</h3>
	<p>
	The Sunday Contest started in 2004 as a weekly unofficial competition hosted by Tyson Mao, and was later hosted by Jon Morris in 2005. </p>

</div>