<div class="row">
	<div class="col-lg-12">
		<div class="well">
			<% if session[:currentUserID] == nil  then %>
				<a href="#">Login</a> or <a href="#">Create an Account</a> to compete in this week's competition. 
			<% else %>
				Click below to compete in the current competition
			<% end %>
		</div>
	</div>
</div>
<%= render "shared/contest_links" %>


<div class = "row">
	<div class="col-lg-8">
	<div class = "well" style="padding-top:2px">
	<h3>What is the Sunday Contest?</h3>
	The Sunday Contest is a place where speedcubers can compete against other cubers for a chance to win cool prizes, improve their personal rank, and practice new events. 
	<br><br>
	The Sunday Contest started in 2004 as a weekly unofficial competition hosted by Tyson Mao, and was later hosted by Jon Morris in 2005. 
	</div>
</div>

</div>
