<div class="well title"><h3>Leaderboard For the <%= @niceFormatEventName %> event.</h3></div>
<nav style="margin-top:-20px">
  <ul class="pagination">
    <li><a href="/ranking?sortby=3x3">3x3</a></li>
    <li><a href="/ranking?sortby=2x2">2x2</a></li>
    <li><a href="/ranking?sortby=4x4">4x4</a></li>
    <li><a href="/ranking?sortby=5x5">5x5</a></li>
    <li><a href="/ranking?sortby=6x6">6x6</a></li>
    <li><a href="/ranking?sortby=7x7">7x7</a></li>
    <li><a href="/ranking?sortby=3x3OH">3x3 OH</a></li>
    <li><a href="/ranking?sortby=Megaminx">Megaminx</a></li>
    <li><a href="/ranking?sortby=Pyraminx">Pyraminx</a></li>
    <li><a href="/ranking?sortby=Clock">Clock</a></li>
    <li><a href="/ranking?sortby=Skewb">Skewb</a></li>
  </ul>
</nav>
<% counter = 1%>
<table class="table table-striped table-hover table-condensed">
	<tr>
	<th>Rank</th>
	<th>ELO</th>
	<th>Name</th>
	</tr>
<% @all_users.each do |userName| %>
    <% if @eloHash[userName.id] != 0%>
        <tr>
        <td><%= counter.to_s + ". " %> </td>
        <td><%= @eloHash[userName.id] %></td>
        <td> <%= link_to "#{userName.login}", "/users/#{userName.id}" %></tr>
        </tr>
        <% counter += 1 %>
        <% end %>
<% end %>
</table>

