<div class="well title"><h3>Leaderboard For the <%= @niceFormatEventName %> event.</h3></div>
<h4 > Sort By:
<%= link_to "3x3","/ranking?sortby=3x3" %>	
<%= link_to "2x2","/ranking?sortby=2x2" %>	
<%= link_to "4x4","/ranking?sortby=4x4" %>	
<%= link_to "5x5","/ranking?sortby=5x5" %>	
<%= link_to "6x6","/ranking?sortby=6x6" %>	
<%= link_to "7x7","/ranking?sortby=7x7" %>	
<%= link_to "3x3 OH","/ranking?sortby=3x3OH" %>		
<%= link_to "Megaminx","/ranking?sortby=Megaminx" %>	
<%= link_to "Pyraminx","/ranking?sortby=Pyraminx" %>	
<%= link_to "Square-1","/ranking?sortby=Square1" %>	
<%= link_to "Clock","/ranking?sortby=Clock" %>
<%= link_to "Skewb","/ranking?sortby=Skewb" %>	

</h4>	
<% counter = 1%>
<table class="table table-striped table-hover table-condensed">
	<tr>
	<th>Rank</th>
	<th>ELO</th>
	<th>Name</th>
	</tr>
<% @all_users.each do |userName| %>
<tr>
<td><%= counter.to_s + ". " %> </td>
<td><%= @eloHash[userName.id] %></td>
<td> <%= link_to "#{userName.login}", "/users/#{userName.id}" %></tr>
</tr>
</li>
<% counter += 1 %>
<% end %>
</table>

