<h3>Account for <%= @user.first_name =%> <%= @user.last_name =%></h3>
<table>
<tr>
<td>Email: </td>
<td><%= @user.email =%> </td>
</tr>
<tr>
<td>WCA ID: </td>
<td><%= @user.wca_id =%></td>
</tr>
<tr><td>
<input type = "button" value = "Change Password"/> 
</tr></td>
<tr><td>
<input type = "button" value = "Delete Account"/> 
</tr></td>
</table>

