<div class = "row">
	<div class="col-lg-12">
	<div class = "well title">
	<h3>About Sunday Contest:</h3>

	The Sunday Contest started in 2004 as a weekly unofficial competition hosted by Tyson Mao, and was later hosted by Jon Morris in 2005. After several years of it being inactive, we decided that it would be cool to bring it back as a full-fledged web app. We took the original idea of Sunday Contest and expanded it to include more official WCA events and a ranking system. Of course, just like the original Sunday Contest, we offer weekly prizes to the participants.

	</div>
</div>
</div>

<div class = "row">
	<div class="col-lg-12">
	<div class = "well title">
	<h3>Rules:</h3>
	Each week there will be four events hosted. 3x3 Speedsolve, and three other randomly selected events. </br></br>
	One of these events will be selected to be the "featured event". The winner of the featured event wins a $5.00 gift card code to <a href = "http://SpeedCubeShop.com">SpeedCubeShop.com</a>.</br></br>
	Additionally, each week one participant will be randomly selected to win a $5.00 gift card code to <a href = "http://SpeedCubeShop.com">SpeedCubeShop.com</a>.</br></br>
	Each week, your times must be submitted before Saturday at 11:59 PM PST. A new contest begins every Sunday.</br></br>


	Each event is an average of 12 solves, except for 6x6 and 7x7, which are an average of 5. Each competitior receives the same scrambles.</br></br>

	Filming is encouraged, but not required.</br></br>

	All WCA rules, except those that require a delegate or additional people to be present, apply. You can read up on those rules <a href = "https://www.worldcubeassociation.org/regulations/">here.</a></br></br>

	Only one account per person is allowed.

	We reserve the right to hold out prizes if we suspect cheating. 
	</div>
</div>
</div>

<div class = "row">
	<div class="col-lg-12">
	<div class = "well title">
	<h4>Thanks to:</h4>
	Devin Corr-Robinett for helping us set up the server,</br> 

	Michael Gottlieb to letting us use qqTimer,</br>

	Tim Habermaas for creating scramble generators in Ruby,</br>

	and to Cameron Brown of SpeedCubeShop.com for donating prizes each week.
	</div>
</div>
</div>
