/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media all and (min-width: 845px) and (max-width: 1320px){
    #content{
        margin-top:10px;
    }
}  










.center {
	text-align:center;
}

body {
  padding-top: 65px;
  padding-bottom:-20px;
}
a:hover {
    text-decoration:none;
}
#content {
  padding-bottom:50px;
}

a {
    color:#4BF;
}

.panel {
	background-color:rgba(0, 0, 0, 0.4);
	font-size:1.2em;
	color:white;
}

.well {
	font-size:1.2em;
	color:white;
	border-width: 0px;
	background-color:rgba(0, 0, 0, 0.4);
}

.well.title {
	padding-top:2px;
};
